In [4]:
from config import set_path, DATA_DIR

set_path()

import pandas as pd
from core.load_data.types import JSON_TYPE
from core.load_data import load_contributions

import os

In [5]:
data = load_contributions()

Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Finished - 204
Incomplete read - waiting 3 seconds
Finished - 204
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204
Too many requests - waiting 3 seconds
Finished - 204

In [6]:
data.keys()

dict_keys(['Assistência Social', 'Cultura', 'Desenvolvimento Econômico e Trabalho', 'Direitos Humanos e Cidadania', 'Educação', 'Esporte e Lazer', 'Habitação', 'Infraestrutura Urbana e Obras', 'Inovação e Tecnologia', 'Meio Ambiente', 'Outros temas', 'Pessoa com Deficiência', 'Saúde', 'Segurança Urbana', 'Transportes e Mobilidade', 'Urbanismo e Licenciamento', 'Zeladoria Urbana e melhorias de bairro'])

In [7]:
def parse_data(data:dict)->pd.DataFrame:

    all_parsed_data: list[dict[str, str]] = []
    for contrib_list in data.values():
        for contrib in contrib_list:
            for sugestao in contrib['sugestoes']:
                trecho: str = sugestao['conteudo']
                categoria: str = sugestao['tema']['categoria']['nome']
                parsed_data: dict[str, str] = {'excerto' : trecho,
                            'categoria' : categoria}
                
                all_parsed_data.append(parsed_data)

    
    df = pd.DataFrame(all_parsed_data)

    return df

In [8]:
df = parse_data(data)

In [9]:
len(df)

82739

In [10]:
df.duplicated().mean()

np.float64(0.9456604503317662)

In [11]:

df: pd.DataFrame= df.drop_duplicates()

In [12]:
df['excerto'].duplicated().mean()

np.float64(0.09653024911032028)

In [13]:
df['excerto'].duplicated().sum()

np.int64(434)

In [14]:
len(df)

4496

In [15]:
df = df[~df['excerto'].duplicated(keep='first')].reset_index(drop=True)

In [16]:
len(df)

4062

In [17]:
df['excerto'].duplicated().any()

np.False_

In [18]:
df.groupby('categoria').count()

                                        excerto
categoria
Assistência Social                          289
Cultura                                     157
Desenvolvimento Econômico e Trabalho        385
Direitos Humanos e Cidadania                129
Educação                                    211
Esporte e Lazer                              63
Habitação                                   239
Infraestrutura Urbana e Obras               124
Inovação e Tecnologia                        55
Meio Ambiente                               278
Outros temas                                358
Pessoa com Deficiência                       32
Saúde                                       546
Segurança Urbana                            141
Transportes e Mobilidade                    472
Urbanismo e Licenciamento                   121
Zeladoria Urbana e melhorias de bairro      462

In [19]:
from utils import save_df

save_df(df, 'dados_originais_sugestoes')

'../data/dados_originais_sugestoes.csv'