In [1]:
from utils import read_df_parquet

from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, StratifiedKFold

In [2]:
model = MultinomialNB()

In [3]:
data = read_df_parquet('bag_of_words_df.parquet')

In [4]:
data.sample(3)

,1000km,100km,10ampli,10h,10km,119c10201210,11o,12e3,12milho,12o,...,zild,zitu,zn,zogb,zom,zon,zone,zr1,zum,y
1792,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Habitação
1280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None

In [5]:
data.shape

(2212, 8648)

In [6]:
data['y'].unique()

array(['Meio Ambiente', 'Urbanismo e Licenciamento',
       'Zeladoria Urbana e melhorias de bairro', None,
       'Assistência Social', 'Habitação',
       'Desenvolvimento Econômico e Trabalho', 'Transportes e Mobilidade',
       'Saúde', 'Pessoa com Deficiência', 'Educação', 'Cultura',
       'Infraestrutura Urbana e Obras', 'Segurança Urbana',
       'Direitos Humanos e Cidadania', 'Inovação e Tecnologia',
       'Esporte e Lazer'], dtype=object)

In [7]:
data['y'].value_counts()

y
Saúde                                     251
Transportes e Mobilidade                  163
Meio Ambiente                             135
Zeladoria Urbana e melhorias de bairro    125
Assistência Social                         96
Segurança Urbana                           81
Habitação                                  78
Educação                                   47
Desenvolvimento Econômico e Trabalho       44
Direitos Humanos e Cidadania               43
Cultura                                    42
Urbanismo e Licenciamento                  33
Infraestrutura Urbana e Obras              24
Pessoa com Deficiência                     14
Esporte e Lazer                            10
Inovação e Tecnologia                       6
Name: count, dtype: int64

In [8]:
data.shape

(2212, 8648)

In [9]:
data.shape

(2212, 8648)

In [10]:
data['y'].isnull().any()

np.True_

In [11]:
data['y'].isnull().mean()

np.float64(0.46112115732368897)

In [12]:
data['y'].isnull().sum()

np.int64(1020)

In [13]:
data = data[data['y'].notnull()].reset_index(drop=True)

In [14]:
data['y'].value_counts()

y
Saúde                                     251
Transportes e Mobilidade                  163
Meio Ambiente                             135
Zeladoria Urbana e melhorias de bairro    125
Assistência Social                         96
Segurança Urbana                           81
Habitação                                  78
Educação                                   47
Desenvolvimento Econômico e Trabalho       44
Direitos Humanos e Cidadania               43
Cultura                                    42
Urbanismo e Licenciamento                  33
Infraestrutura Urbana e Obras              24
Pessoa com Deficiência                     14
Esporte e Lazer                            10
Inovação e Tecnologia                       6
Name: count, dtype: int64

In [15]:
cats = data['y'].unique()[data['y'].value_counts()>33]
data = data[data['y'].isin(cats)]

In [23]:
data['y'].value_counts()

y
Saúde                                     251
Transportes e Mobilidade                  163
Meio Ambiente                             135
Zeladoria Urbana e melhorias de bairro    125
Assistência Social                         96
Habitação                                  78
Educação                                   47
Desenvolvimento Econômico e Trabalho       44
Cultura                                    42
Urbanismo e Licenciamento                  33
Pessoa com Deficiência                     14
Name: count, dtype: int64

In [16]:
y = data['y']
X = data.drop('y', axis=1).values

In [17]:
# Definir a estratégia de validação cruzada estratificada
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

In [18]:
scores = cross_val_score(model, X, y, cv=cv, scoring="accuracy")

In [19]:
scores

array([0.22330097, 0.25242718, 0.26213592, 0.23300971, 0.24271845,
       0.25242718, 0.22330097, 0.24271845, 0.21568627, 0.2745098 ])

In [20]:
print(f"Acurácia média: {scores.mean():.2f} ± {scores.std():.2f}")

Acurácia média: 0.24 ± 0.02

In [21]:
scores = cross_val_score(model, X, y, cv=cv, scoring="f1_macro")

In [22]:
print(f"f1 média: {scores.mean():.2f} ± {scores.std():.2f}")

f1 média: 0.08 ± 0.01