In [1]:
from utils import read_df_parquet

from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

In [2]:
model = MultinomialNB()

In [3]:
data = read_df_parquet('bag_of_words_df.parquet')

In [4]:
data.sample(3)

        id                                            corpora             tema
1298  1298  boa noite todos todas aqui comprimento vera no...  Esporte e Lazer
3367  3367  boa noite secretaria aline demais autoridades ...          Cultura
219    219  obrigado bom dia saudar subprefeito marco vere...          Cultura